In [1]:
import pandas as pd

In [35]:
df=pd.DataFrame()

In [36]:
df['f_col']=[1,2,3,4,5]

In [37]:
df['s_col']=['bhavana','uvraj','reshma','qutee','zafar']

In [38]:
df['t_col']=['123,anna nagar,chennai,tamilnadu','456,t nagar,chennai,tamilnadu',\
             '789,shanti nagar,bangalore,karnataga','jp nagar,bangalore,karnataka','udupi,rainy,maharastra']

In [39]:
print(df)

   f_col    s_col                                 t_col
0      1  bhavana      123,anna nagar,chennai,tamilnadu
1      2    uvraj         456,t nagar,chennai,tamilnadu
2      3   reshma  789,shanti nagar,bangalore,karnataga
3      4    qutee          jp nagar,bangalore,karnataka
4      5    zafar                udupi,rainy,maharastra

In [33]:
del df

In [17]:
for i in df['t_col']:
    a=i.split(',')
    if len(a)==4:
        print(i)

123,anna nagar,chennai,tamilnadu
456,t nagar,chennai,tamilnadu
789,shanti nagar,bangalore,karnataga

In [16]:
import numpy as np

In [41]:
df.loc[len(df.index)]=['6','marun','111,btm,bangalore,karnataka']

In [23]:
df.drop(5,inplace=True)   # it will give new dataframe if inplace=True is not given

In [31]:
update_df = df.drop([df.index[1], df.index[2]],inplace=True)

In [28]:
update_df = df.drop([1,3])

In [42]:
print(df)

  f_col    s_col                                 t_col
0     1  bhavana      123,anna nagar,chennai,tamilnadu
1     2    uvraj         456,t nagar,chennai,tamilnadu
2     3   reshma  789,shanti nagar,bangalore,karnataga
3     4    qutee          jp nagar,bangalore,karnataka
4     5    zafar                udupi,rainy,maharastra
5     6    marun           111,btm,bangalore,karnataka

In [ ]:
df.append()

In [51]:
length=len(df['t_col'][0].split(','))
for i in df['t_col']:
    a=i.split(',')
    if len(a)>length:
        length=len(a)
print(length)

4

In [49]:
print(len(df['t_col'][0].split(',')))

4